/.vscode
/node_modules
/out
/dist
/config.json
/private
*.tsbuildinfo
.emacs.desktop.lock
.emacs.desktop
#*
*.vsix
/test_data/test_workspace
/test_data/test_workspace
.vscode-test
session_test_last_plan.json