.player {
  .main-section .section-body {
    padding: var(--container-padding-ver-small) var(--container-padding-hor) 0 var(--container-padding-hor);

    .media-toolbar {
    }

    .session-description {
    }
  }

  .contents-section .section-body {
    padding: var(--container-padding-ver) var(--container-padding-hor) 0 var(--container-padding-hor);

    container-padded .toc {
      > .item {
        display: flex;
        align-items: center;

        margin-left: calc(var(--spacing-small) * -1);
        margin-right: calc(var(--spacing-small) * -1);
        padding: var(--spacing-small);
        cursor: pointer;

        &:hover {
          background: var(--vscode-list-hoverBackground);
        }

        & + .item {
          /* margin-top: var(--spacing-small); */
        }

        > .title {
          flex: 1;
          padding-right: var(--spacing-medium);
        }
        > .clock {
          font-weight: bold;
          opacity: 0.7;
        }
      }
    }
  }
}
