.recorder {
  /* padding-top: var(--spacing-medium); */

  & .tabs {
    flex: 1;

    #details-view {
      padding: var(--container-padding-ver) var(--container-padding-hor);

      & vscode-text-area.title {
        &::part(control) {
          /* margin-top: var(--spacing-large); */
          font-weight: bold;
          font-size: 1.1em;
        }
      }
      & vscode-text-area.description {
        /* margin-top: var(--spacing-large); */
      }

      /*
    .subsection.buttons {
      display: flex;

      & vscode-button + vscode-button {
        margin-left: var(--spacing-medium);
      }
      & vscode-button.bump-left {
        margin-left: auto;
      }
    }
    */
    }

    #editor-view {
      padding: var(--container-padding-ver) var(--container-padding-hor);
      /* overflow-y: scroll */

      #timeline {
        flex: 1;
        display: flex;
        position: relative;
        /* margin-left: calc(var(--container-padding-hor) * -1); */
        /* margin-right: calc(var(--container-padding-hor) * -1); */
        cursor: pointer;
        user-select: none;

        .timeline-body {
          flex: 1;
          position: relative;
          display: flex;

          .audio-tracks {
            flex: 1;
            display: flex;

            .audio-tracks-column {
              flex: 1 0 0;
              /* display: flex; */
              /* flex-direction: column; */
              position: relative;
              margin-right: var(--spacing-x-small);

              .audio-track {
                position: absolute;
                left: 0;
                right: 0;
                border: 1px solid var(--track-border);
                background: var(--track-background);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                z-index: var(--track-z-index);
                transition: background 0.2s ease-in-out;

                &:hover,
                &.active {
                  background: var(--track-background-hover);
                  z-index: var(--active-track-z-index);
                }
                &.active {
                  border-color: var(--track-border-active);
                }
              }
            }
          }

          .markers {
            .marker {
              position: absolute;
              left: 0;
              right: 0;
              /* height: 1px; */
              border-bottom: 1px solid;
              z-index: var(--marker-z-index);

              /* &:hover { */
              /*   z-index: 1; */
              /* } */

              /* &.marker_hidden { */
              /*   display: none; */
              /* } */
              &.marker_active {
                border-bottom-width: 2px;
              }
              &.marker_cursor {
                border-color: var(--marker-cursor-color);
                z-index: var(--cursor-marker-z-index);
                pointer-events: none;
              }
              &.marker_clock {
                border-color: var(--marker-clock-color);
              }
              &.marker_anchor {
                border-color: var(--marker-anchor-color);
              }
              &.marker_selection {
                border-color: var(--marker-anchor-color);
              }

              .time {
                /*
            position: absolute;
            left: calc(100% + 3px);
            background: var(--vscode-sideBar-background);
            padding: 5px 0px;
            top: -11px;
            font-weight: bold;
            */

                position: absolute;
                left: 0;
                background: var(--vscode-sideBar-background);
                /* padding: 5px 0px; */
                /* font-weight: bold; */
                top: calc(100% + 2px);
                font-size: 0.8em;
                opacity: 0.8;
              }
            }
          }
        }

        #ruler {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          /* padding-left: 8px; */
          border-left: 1px solid var(--vscode-input-border, var(--dropdown-border));
          /* overflow: hidden; */
          margin-left: auto;
          margin-right: 0;

          .step {
            display: flex;
            height: 0;
            position: relative;
            overflow: visible;

            .indicator {
              width: 7px;
              border-top: 1px solid var(--vscode-input-border, var(--dropdown-border));
            }
            .time {
              margin-left: 5px;
              margin-top: -7px;
              font-size: 0.9em;
              opacity: 0.8;
            }
            /* position: relative; */
            /* &::after { */
            /*   content: ''; */
            /*   position: absolute; */
            /*   right: calc(100% + 3px); */
            /*   width: 11px; */
            /*   border-bottom: 1px solid var(--vscode-input-border, var(--dropdown-border)); */
            /*   top: 50%; */
            /* } */
          }
        }
      }
    }
  }
}
