.session-head-list {
  .session-head-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    max-width: 350px;

    &:hover {
      background: var(--vscode-list-hoverBackground);

      .actions {
        visibility: visible;
      }
    }

    + .session-head-list-item {
      margin-top: var(--spacing-medium);
    }

    .cover-photo-container {
      margin: var(--spacing-medium) var(--spacing-large);
      margin-bottom: 0;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      /* background: black; */
      position: relative;

      /* .background { */
      /*   position: absolute; */
      /*   top: 0; */
      /*   left: 0; */
      /*   right: 0; */
      /*   bottom: 0; */
      /*   background-size: cover; */
      /*   background-position: center; */
      /*   filter: blur(10px); */
      /* } */

      & img {
        object-fit: cover;
        z-index: 1;
        height: 150px;
        width: 100%;
      }
    }

    .title-and-description {
      position: relative;
      padding: var(--spacing-large);

      .actions {
        background: var(--vscode-list-hoverBackground);
        position: absolute;
        /* top: 0; */
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
        padding: 0 var(--spacing-small);
        visibility: hidden;
      }

      .title {
        font-weight: bold;
        font-size: 1em;
      }

      .cover-photo + .title {
        margin-top: var(--spacing-small);
      }

      .description {
        opacity: 1;
      }

      .title + .description {
        margin-top: var(--spacing-small);
      }

      .footer {
        margin-top: var(--spacing-small);
        display: flex;
        align-items: center;
        font-weight: bold;
        opacity: 0.6;

        > .footer-item {
          font-size: 0.9em;
          /* white-space: nowrap; */

          &:first-child {
            /* min-width: 80px; */
            flex: 1;
          }

          & + .footer-item {
            margin-left: var(--spacing-medium);
          }

          &.badge {
            display: flex;
            align-items: center;
            font-size: 0.9em;

            .codicon {
              font-size: 0.9rem;
            }
            .codicon-eye {
              margin-bottom: -2px;
            }
            .codicon-heart,
            .codicon-heart-filled {
              margin-bottom: -2px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.session-head {
  margin-left: -7px;

  .avatar {
    margin-bottom: -2px;
  }

  > .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: bold;
      font-size: 1.1em;
    }

    .description {
      opacity: 1;
    }

    .title + .description {
      margin-top: var(--spacing-small);
    }

    .footer {
      margin-top: var(--spacing-small);
      display: flex;
      align-items: center;
      font-weight: bold;

      .footer-item {
        /* white-space: nowrap; */

        &:first-child {
          /* min-width: 80px; */
          flex: 1;
        }

        & + .footer-item {
          margin-left: var(--spacing-medium);
        }

        &.badge {
          display: flex;
          align-items: center;
          font-size: 0.9em;

          .codicon {
            font-size: 0.9rem;
          }
          .codicon-eye {
            margin-bottom: -2px;
          }
          .codicon-heart,
          .codicon-heart-filled {
            margin-bottom: -2px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
