@import 'vscode.css';
@import 'normalize-8.0.1.css';
@import 'base.css';
@import 'media_toolbar.css';
@import 'path_field.css';
@import 'player.css';
@import 'loading.css';
@import 'progress_bar.css';
@import 'recorder.css';
@import 'screen.css';
@import 'section.css';
/* @import 'selectable_li.css'; */
@import 'session_description.css';
@import 'session_head.css';
@import 'welcome.css';
@import 'with_avatar.css';
@import 'tabs.css';
@import 'account.css';
@import 'comment.css';

/*
.card {
  display: flex;
  flex-direction: column;
  position: relative;

  border: 1px solid var(--vscode-input-border);
  padding: var(--spacing-medium);
  background: var(--input-background);
  overflow: hidden;
  border-radius: var(--card-border-radius);

  &.card-with-media {
    flex-direction: row;

    .media {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      & img {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        object-fit: contain;
        margin-right: var(--spacing-large);
        border-radius: 50%;
        border: 1px solid var(--vscode-input-border);

        @media (max-width: 200px) {
          display: none;
        }
        @media (max-width: 250px) {
          width: 24px;
          height: 24px;
          margin-right: var(--spacing-medium);
        }
      }
    }

    .card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.card-bare {
    background: unset;
    border: unset;
  }

  &.card-no-padding {
    padding: 0;
  }

  &.has-hover-actions {
    cursor: pointer;

    &:hover {
      background: var(--vscode-list-hoverBackground);
      .hover-actions {
        visibility: visible;
      }
    }
  }

  .title {
    font-weight: bold;
    &.large {
      font-size: 1.1em;
    }
  }

  .description {
    opacity: 1;
  }

  .title + .description {
    margin-top: var(--spacing-small);
  }

  .footer {
    margin-top: var(--spacing-small);
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.6;

    .footer-item {
      font-size: 0.9em;
      white-space: nowrap;

      &.large {
        font-size: unset;
      }

      &:first-child {
        min-width: 80px;
      }

      &.badge {
        display: flex;
        align-items: center;
        font-size: 0.9em;

        .codicon {
          font-size: 0.9rem;
        }
        .codicon-eye {
          margin-bottom: -2px;
        }
        .codicon-heart {
          margin-bottom: -2px;
          font-size: 0.8rem;
        }
      }
    }
    .footer-item + .footer-item {
      margin-left: var(--spacing-medium);
    }
  }

  .hover-actions {
    background: var(--vscode-list-hoverBackground);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
    padding: 0 var(--spacing-small);
    visibility: hidden;
  }
}
*/
