:root {
  --spacing-x-small: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --card-border-radius: 5px;
  --toggle-button-size: 34px;
  --progress-bar-full-width: 16px;
  --progress-bar-hover-width: 30px;
  --progress-bar-small-width: 3px;
  --button-danger-color: #f85149;
  --button-danger-hover-color: #f85149e6;
  --button-danger-border: #f85149;
}

button {
  min-width: 0;
}

body.vscode-light {
  --player-badge-background: #f1f1f1;
}
body.vscode-dark {
  --player-badge-background: #444;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bump-left {
  margin-left: auto;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;

  & + .section {
    margin-top: var(--spacing-large);
  }

  &.bordered {
    border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
  }

  > .header {
    display: flex;
    align-items: center;

    &.collapsible {
      cursor: pointer;

      .collapse-icon {
        margin-left: var(--spacing-x-small);
        visibility: visible;
      }
      .actions {
        margin-right: var(--spacing-small);
      }
    }

    .collapse-icon {
      visibility: hidden;
    }

    & h3 {
      margin: 0;
      padding: var(--spacing-small) 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 11px;
      min-width: 3ch;
    }

    .actions {
      margin-right: var(--container-padding);
      margin-left: auto;
      display: flex;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    /* padding: var(--spacing-large) var(--container-padding); */

    .subsection + .subsection {
      margin-top: var(--spacing-medium);
    }
  }
}

.welcome {
  .search-section {
    > .body {
      padding: 0 var(--container-padding);
      display: flex;
      align-items: center;
      flex-direction: row;

      & vscode-text-field {
        flex: 1;
      }

      & vscode-button {
        margin-left: var(--spacing-medium);
      }
    }
  }

  .sessions-section {
    > .body {
      padding: 0 var(--spacing-medium);

      /* .session-item { */
      /*   flex-direction: row; */
      /*   .card-content { */
      /*     display: flex; */
      /*     flex-direction: column; */
      /*   } */
      /* } */
    }
  }
}

.recorder {
  .main-section {
    > .body {
      padding-top: var(--spacing-large);

      .control-toolbar {
        margin: 0 var(--spacing-large) var(--spacing-large) var(--spacing-large);
      }

      .subsection {
        padding: 0 var(--container-padding);
      }

      .subsection.help {
        color: var(--input-placeholder-foreground);
        margin-top: var(--spacing-small);
        margin-bottom: var(--spacing-large);
        font-size: 0.9em;
        & code {
          font-size: inherit;
          color: inherit;
        }
      }

      .subsection.buttons {
        display: flex;

        & vscode-button + vscode-button {
          margin-left: var(--spacing-medium);
        }
        & vscode-button.bump-left {
          margin-left: auto;
        }
      }
    }
  }
}

.player {
  .progress-bar {
  }
  .main-section {
    > .body {
      padding-top: var(--spacing-large);

      .controls-and-details {
        padding: 0 var(--spacing-large);
        display: flex;
        flex-direction: column;

        .details {
          margin-left: -2px; /* to align it with the control toolbar's toggle button */
        }
        .control-toolbar {
          margin-top: var(--spacing-large);
        }
      }

      .forms {
        padding: 0 var(--container-padding);
        display: flex;
        flex-direction: column;
        > *:first-child {
          margin-top: var(--spacing-large);
        }
      }
    }
  }

  .contents-section {
    > .body {
      padding-top: var(--spacing-large);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);

      .toc {
        > .item {
          display: flex;
          align-items: center;

          margin-left: calc(var(--spacing-small) * -1);
          margin-right: calc(var(--spacing-small) * -1);
          padding: var(--spacing-small);
          cursor: pointer;

          &:hover {
            background: var(--vscode-list-hoverBackground);
          }

          & + .item {
            /* margin-top: var(--spacing-small); */
          }

          > .title {
            flex: 1;
            padding-right: var(--spacing-medium);
          }
          > .clock {
            font-weight: bold;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

ul.unstyled {
  list-style: none;
  padding: 0;

  & li {
  }
}

.codicon.m-right {
  margin-right: var(--spacing-medium);
}

.codicon.m-right_x-small {
  margin-right: var(--spacing-small);
}

.codicon.m-right_small {
  margin-right: var(--spacing-small);
}

.codicon.va-top {
  vertical-align: top;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  border: 1px solid var(--vscode-input-border);
  padding: var(--spacing-medium);
  background: var(--input-background);
  overflow: hidden;
  border-radius: var(--card-border-radius);

  &.card-with-media {
    flex-direction: row;

    .media {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      & img {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        object-fit: contain;
        margin-right: var(--spacing-large);
        border-radius: 50%;
        border: 1px solid var(--vscode-input-border);

        @media (max-width: 200px) {
          display: none;
        }
        @media (max-width: 250px) {
          width: 24px;
          height: 24px;
          margin-right: var(--spacing-medium);
        }
      }
    }

    .card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &.card-bare {
    background: unset;
    border: unset;
  }

  &.card-no-padding {
    padding: 0;
  }

  &.join-cards {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
    & + .card {
      border-top: 0;
    }
  }

  &.has-hover-actions {
    cursor: pointer;

    &:hover {
      background: var(--vscode-list-hoverBackground);
      .hover-actions {
        visibility: visible;
      }
    }
  }

  .title {
    font-weight: bold;
  }

  .description {
    opacity: 1;
  }

  .title + .description {
    margin-top: var(--spacing-small);
  }

  .footer {
    margin-top: var(--spacing-small);
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.6;

    .footer-item {
      font-size: 0.9em;
      white-space: nowrap;

      &:first-child {
        min-width: 80px;
      }

      &.badge {
        display: flex;
        align-items: center;
        font-size: 0.9em;

        .codicon {
          font-size: 0.9rem;
        }
        .codicon-eye {
          margin-bottom: -2px;
        }
        .codicon-heart {
          margin-bottom: -2px;
          font-size: 0.8rem;
        }
      }
    }
    .footer-item + .footer-item {
      margin-left: var(--spacing-medium);
    }
  }

  .hover-actions {
    background: var(--vscode-list-hoverBackground);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
    padding: 0 var(--spacing-small);
    visibility: hidden;
  }
}

.control-toolbar {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--input-background);
  border: 1px solid var(--vscode-input-border);
  padding: 2px 11px 2px 7px;
  border-radius: 30px;
  border-left: none;

  .toggle-button-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    .toggle-button {
      min-width: var(--toggle-button-size);
      min-height: var(--toggle-button-size);
      max-width: var(--toggle-button-size);
      max-height: var(--toggle-button-size);
      border-radius: 50%;
      color: var(--button-primary-foreground);

      &:hover {
        color: var(--button-primary-foreground);
      }
      &:disabled {
        opacity: 1;
      }

      &.for-player {
        border: 1px solid var(--button-primary-background);
        background: var(--button-primary-background);

        &:hover {
          background: var(--button-primary-hover-background);
        }
      }

      &.for-recorder {
        background: var(--input-background);
        border: 0;
        color: var(--button-danger-color);
        border: 1px solid var(--button-danger-hover-color);
        /* border: 1px solid var(--vscode-input-border); */

        &:hover {
          border: 1px solid var(--button-danger-hover-color);
          color: var(--button-danger-hover-color);
          background: var(--input-background);
        }
        &::part(control):active,
        &::part(control):focus {
          background: var(--input-background);
        }
      }

      .codicon-play {
        font-size: 1.2rem;
        margin-left: 2px;
      }
      .codicon-primitive-square {
        font-size: 1.5rem;
      }
      .codicon-circle-large-filled {
        font-size: 1rem;
      }
      &.for-player .codicon-debug-pause {
        font-size: 1.2rem;
        margin: 2px 0 0 0px;
      }
      &.for-recorder .codicon-debug-pause {
        font-size: 1.2rem;
        margin: 2px 0 0 -1px;
        font-weight: bold;
      }
    }
  }

  .actions {
    margin-left: 35px;
    display: flex;
  }

  .time {
    margin-left: auto;
    white-space: nowrap;

    &.large {
      font-size: 1rem;
    }

    .recording-indicator {
      vertical-align: text-top;
      opacity: 0.5;

      &.active {
        opacity: 1;
        color: var(--button-danger-color);
      }
    }
    .text {
      font-weight: bold;
      opacity: 0.7;
    }
  }
}

.progress-bar {
  position: fixed;
  top: calc(22px + var(--container-padding));
  right: 0;
  bottom: var(--container-padding);
  width: var(--progress-bar-hover-width);
  z-index: 1;

  &:hover .bar {
    width: calc(var(--progress-bar-full-width) - 4px);

    .shadow {
      opacity: 1;
    }
  }

  .bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--progress-bar-small-width);
    background: #ccc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #cc000030;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    .filled {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 2px;
      background: #cc0000;
      transition: all 0.1s linear;
    }
  }
}
