:root {
  --spacing-x-small: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --card-border-radius: 5px;
  --toggle-button-size: 34px;
  --progress-bar-full-width: 16px;
  --progress-bar-hover-width: 30px;
  --progress-bar-small-width: 3px;
  --button-danger-color: #f85149;
  --button-danger-hover-color: #e84139;
  --button-danger-border: #f85149;
  --container-padding-ver: var(--spacing-large);
  --container-padding-ver-small: var(--spacing-small);
  --container-padding-hor: var(--container-padding);
  --marker-clock-color: #5555ff;
  --marker-cursor-color: #5b5b5b;
  --marker-anchor-color: #55aaff;
  --marker-focus-color: #22aaff;
  --marker-end-color: #f85149;
  /* --marker-end-color-hover: #e84139; */
  --marker-chapter-color: #e99671;
  --marker-base-color: #000;
  /* --marker-selection-color: #55ffff; */
  --marker-z-index: 10;
  --range-selection-z-index: -1;
  --range-selection-background: var(--vscode-editor-selectionBackground);
  --cursor-marker-z-index: 15;
  --line-focus-z-index: 0;
  --track-z-index: 1;
  --active-track-z-index: 11;
  --popover-z-index: 100;
  --cover-container-border: calc(var(--border-width) * 1px) solid var(--vscode-input-border, var(--popover-border));
  --popover-button-min-width: 60px;
}

body.vscode-light {
  --ranged-track-border: #007acc;
  --ranged-track-border-hover: #0066ab;
  --ranged-track-border-active: #005fab;
  /* --ranged-track-border: #007acc; */
  /* --ranged-track-border-active: #007acc; */

  --text-weak: #666;
  --background-secondary: #e7e7e7;

  --editor-track-color: #666;
  --editor-track-color-hover: #000;

  --marker-label-color: white;
  --marker-chapter-color-hover: #bd6c47;
  --marker-chapter-color-active: #b25931;

  --popover-border-color: #dedede;
  --popover-box-shadow: 3px 8px 20px 0px #00000042;
  /* --popover-background: #1f1f1f; */
  /* --popover-foreground: #fff; */

  /* --editor-track-text-change-background: #a1f0dc; */
  /* --editor-track-text-change-background-hover: #78d5be; */
  /* --editor-track-text-change-border: #55a995; */
  /* --editor-track-text-change-border-active: #55a995; */

  --editor-track-document-focus-color-1: #60bd90;
  --editor-track-document-focus-color-1-hover: #489771;
  --editor-track-document-focus-color-2: #007acc;
  --editor-track-document-focus-color-2-hover: #0066ab;
  /* --editor-track-document-focus-background-hover: #b8b0e4; */
  /* --editor-track-document-focus-border: #8f86bd; */
  /* --editor-track-document-focus-border-active: #8f86bd; */

  --editor-track-resize-handle-color: #000;
  --editor-track-resize-handle-shadow: #fff;
}
body.vscode-dark {
  --ranged-track-border: #007acc;
  --ranged-track-border-hover: #5ebeff;
  --ranged-track-border-active: #3bf1ff;
  /* --ranged-track-border: #007acc; */
  /* --ranged-track-border-active: #007acc; */

  --text-weak: #aaa;
  --background-secondary: #181818;

  --editor-track-color: #aaa;
  --editor-track-color-hover: #fff;

  --marker-label-color: #333;
  --marker-chapter-color-hover: #f8b394;
  --marker-chapter-color-active: #ffcbb3;

  --popover-border-color: #545454;
  --popover-box-shadow: 3px 8px 20px 0px #000000ad;
  /* --popover-background: #1f1f1f; */
  /* --popover-foreground: #fff; */

  /* --editor-track-text-change-background: #063b49; */
  /* --editor-track-text-change-background-hover: #135e71; */
  /* --editor-track-text-change-border: #007acc; */
  /* --editor-track-text-change-border-active: #007acc; */

  --editor-track-document-focus-color-1: #60bd90;
  --editor-track-document-focus-color-1-hover: #73e1ac;
  --editor-track-document-focus-color-2: #007acc;
  --editor-track-document-focus-color-2-hover: #5ebeff;
  /* --editor-track-document-focus-background-hover: #135e71; */
  /* --editor-track-document-focus-border: #007acc; */
  /* --editor-track-document-focus-border-active: #007acc; */

  --marker-cursor-color: #cccccc;

  --editor-track-resize-handle-color: #fff;
  --editor-track-resize-handle-shadow: #000;
}

html,
body {
  min-height: 100vh;

  /* Couldn't find a way to make the scrollbar an overlay */
  /* But I don't want it to take precious space. Also, it */
  /* interferes with the updateCoverContainerHeight in player.tsx */
  /* causing an infinite shrink/expand loop as the scrollbar */
  /* appears and disappears while changing the available width */
  scrollbar-width: none;
}

body {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  direction: rtl; /* Flip the scrollbar to be on the left */
}

#app {
  direction: ltr; /* Flip the scrollbar to be on the left */
  flex: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#popovers {
  direction: ltr; /* Flip the scrollbar to be on the left */
}

& p {
  margin: 0;
}
& p + p {
  margin-top: var(--spacing-medium);
}

.bump-left {
  margin-left: auto;
}

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
  }
}

a.unstyled {
  text-decoration: none;
}

.m-right {
  margin-right: var(--spacing-medium);
}

.m-right_x-small {
  margin-right: var(--spacing-small);
}

.m-right_small {
  margin-right: var(--spacing-small);
}

.m-left {
  margin-left: var(--spacing-medium);
}

.m-left_x-small {
  margin-left: var(--spacing-small);
}

.m-left_small {
  margin-left: var(--spacing-small);
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.codicon-heart,
.codicon-heart-filled {
  color: #ff0000;
}

vscode-panels {
  /* margin-top: var(--spacing-large); */

  &::part(tablist) {
    width: 100%;
    border-bottom: 1px solid var(--vscode-input-border, var(--popover-border));
    /* padding: 0; */
    padding-top: 0;
  }

  &::part(tabpanel) {
    display: flex;
  }

  & vscode-panel-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: var(--container-padding) 0; */
  }
}

vscode-text-field[aria-invalid='true'] {
  &::part(root) {
    border: 1px solid var(--vscode-inputValidation-errorBorder);
  }
}

button {
  min-width: 0;
}

.icon-rotate-cw-90 {
  transform-origin: center;
  transform: rotate(90deg);
}

.text-error {
  color: var(--vscode-errorForeground);
}

.text-weak {
  color: var(--text-weak);
}

.with-vscode-button-padding {
  padding: var(--button-icon-padding);
}

.fas,
.fa-solid {
  line-height: 1.2 !important;
}
