.player {
  .main-section .section-body {
    padding: var(--container-padding-ver-small) var(--container-padding-hor) 0 var(--container-padding-hor);

    .media-toolbar {
    }

    .media-container {
      border: var(--cover-container-border);
      overflow: hidden;
      border-radius: var(--card-border-radius);
      position: relative;
      background: #1f1f1f;
      transition: height 0.3s ease-out;
      transition-delay: 0.4s;
      display: flex;

      /* /\* Hide media-container if session is loaded, */
      /*  * and there's no video and no cover image */
      /*  * and clock is not at 0. */
      /*  *\/ */
      /* &.loaded:not(:has(video[src])):not(.cover):not(.at-zero) { */
      /*   display: none; */
      /* } */

      /* Hide cover image if has non-blank video */
      &:has(video[src]:not([data-blank])) {
        & img {
          display: none;
        }
      }

      video[data-blank] {
        opacity: 0;
      }

      img,
      video {
        width: 100%;
        height: fit-content;
        max-height: unset;
      }
    }

    .session-description {
    }
    /* } */

    /* .contents-section .section-body { */
    /*   padding: var(--container-padding-ver) var(--container-padding-hor) 0 var(--container-padding-hor); */

    .search {
      display: grid;
      grid-gap: var(--spacing-medium);
      grid-template-columns: 1fr 1fr;
    }

    .toc {
      border: calc(var(--border-width) * 1px) solid var(--vscode-input-border, var(--popover-border));
      padding: calc(var(--spacing-medium) - var(--spacing-small)) var(--spacing-medium);
      background: var(--input-background);
      border-radius: calc(var(--corner-radius) * 1px);

      > .item {
        display: flex;
        align-items: center;

        margin-left: calc(var(--spacing-small) * -1);
        margin-right: calc(var(--spacing-small) * -1);
        padding: var(--spacing-small);

        &.active {
          > .title {
            font-weight: bold;
          }
          > .clock {
            opacity: 1;
          }
        }

        &.selectable:hover {
          cursor: pointer;
          background: var(--vscode-list-hoverBackground);
        }

        & + .item {
          /* margin-top: var(--spacing-small); */
        }

        > .title {
          flex: 1;
          padding-right: var(--spacing-medium);
        }
        > .clock {
          font-weight: bold;
          opacity: 0.7;
        }
      }
    }
  }
}
