.popover {
  position: fixed;
  background: var(--vscode-sideBar-background);
  border: 1px solid var(--popover-border-color);
  /* color: var(--popover-foreground); */
  padding: var(--spacing-medium);
  z-index: var(--popover-z-index);
  border-radius: 5px;
  box-shadow: var(--popover-box-shadow);
  display: none;

  /* Without this, we end up in an infinite loop of changing the width while
  /* trying to maintain a certain position relative to the anchor */
  width: max-content;
  max-width: 90vw;

  &.open {
    display: flex;
  }
}
