.progress-bar {
  position: fixed;
  /* top: calc(22px + var(--container-padding)); */
  /* bottom: var(--container-padding); */
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--progress-bar-hover-width);
  z-index: 1;

  &:hover {
    /* .focus-popover { */
    /*   opacity: 1; */
    /*   visibility: visible; */
    /* } */

    .bar {
      width: calc(var(--progress-bar-full-width) - 4px);

      .shadow {
        opacity: 1;
      }
    }
  }

  .bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--progress-bar-small-width);
    background: var(--vscode-input-background);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #cc000030;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    .filled {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 2px;
      background: #cc0000;
      transition: all 0.1s linear;
    }
    .toc-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #181818a1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.progress-bar-focus-popover {
  /* position: absolute; */
  /* top: 0; */
  /* right: 15px; */
  /* background: var(--popover-background); */
  /* color: var(--popover-foreground); */
  /* box-shadow: 0 0 10px 10px var(--popover-shadow-color); */
  /* opacity: 0; */
  /* visibility: hidden; */
  /* transition: opacity 0.2s ease-in-out, visibility 0s 0.2s; */
  /* padding: var(--spacing-medium); */
  /* border-radius: 5px; */
  /* border: 1px solid var(--popover-border-color); */

  /* display: grid; */
  /* grid-gap: var(--spacing-small); */

  width: 250px;
  max-width: 95vw;
  flex-direction: column;

  * {
    white-space: nowrap;
  }

  .row {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
  }
  .line-focus {
    margin-top: var(--spacing-small);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
