.recorder {
  /* padding-top: var(--spacing-medium); */

  & .tabs {
    flex: 1;

    #details-view {
      padding: var(--container-padding-ver) var(--container-padding-hor) 200px;

      .cover-container {
        border: var(--cover-container-border);
        border-radius: var(--card-border-radius);
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        background: var(--background-secondary);
        min-height: 150px;
        aspect-ratio: 16/9;

        &.has-cover {
          background: #1f1f1f;
        }

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center;
        }

        & p {
          font-size: 1.2rem;
        }

        .buttons {
          position: absolute;
          right: var(--spacing-medium);
          bottom: var(--spacing-medium);
          display: grid;
          /* grid-template-columns: auto auto; */
          grid-auto-flow: column;
          grid-gap: var(--spacing-small);
        }
      }

      & vscode-text-area.title {
        &::part(control) {
          /* margin-top: var(--spacing-large); */
          font-weight: bold;
          font-size: 1.1em;
        }
      }
      & vscode-text-area.description {
        /* margin-top: var(--spacing-large); */
      }

      .subsection.buttons {
        display: grid;
        grid-gap: var(--spacing-small);

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background: var(--vscode-sideBar-background);
        border-top: 1px solid var(--vscode-sideBar-border);
        /* grid-template-columns: 1fr 1fr; */

        /* & vscode-button + vscode-button { */
        /*   margin-left: var(--spacing-medium); */
        /* } */
        /* & vscode-button.bump-left { */
        /*   margin-left: auto; */
        /* } */
      }
    }

    #editor-view {
      padding: var(--container-padding-ver) var(--container-padding-hor);
      /* overflow-y: scroll */

      .guide-video-container {
        border: var(--cover-container-border);
        overflow: hidden;
        border-radius: var(--card-border-radius);
        display: flex;
        position: relative;
        background: #1f1f1f;
        justify-content: center;
        height: 400px;
        max-height: 25vh;
        transition: height 0.1s ease;

        &.hide {
          height: 22px;
          video,
          .empty-content {
            opacity: 0 !important;
          }
          .toggle-button {
            background: var(--button-icon-background);
            width: 100%;
            height: 100%;
            bottom: 0;
          }
        }

        /* Show .empty-content if there's no video with src or if the video is blank */
        &:has(video[data-blank]),
        &:not(:has(video[src])) {
          .empty-content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            /* background: #1f1f1f; */

            .codicon {
              font-size: 6rem;
              color: #d7d7d7;
            }
          }

          video[data-blank] {
            opacity: 0;
          }
        }

        video {
          transition: opacity 0.1s ease;
        }

        .empty-content {
          display: none;
          transition: opacity 0.1s ease;
        }

        .toggle-button {
          position: absolute;
          bottom: 5px;
          height: 12px;
          left: 50%;
          width: 50px;
          transform: translate(-50%, 0);
          background: #000000aa;
          color: #ffffffaa;
        }
      }

      #timeline {
        /* replace margins with padding so that the numbers on the ruler won't be cut off */
        margin-top: var(--spacing-small);
        margin-bottom: calc(-1 * var(--container-padding-ver));
        margin-left: calc(-1 * var(--container-padding-hor));
        margin-right: calc(-1 * var(--container-padding-hor));
        padding-top: calc(var(--spacing-large) - var(--spacing-small));
        padding-bottom: var(--spacing-x-large);
        padding-right: var(--container-padding-hor);
        padding-left: var(--container-padding-hor);

        flex: 1 0 0;
        display: flex;
        overflow: hidden auto;

        #timeline-body {
          flex: 1 0 0;
          display: flex;
          position: relative;

          /* margin-left: calc(var(--container-padding-hor) * -1); */
          /* margin-right: calc(var(--container-padding-hor) * -1); */
          cursor: pointer;
          user-select: none;

          .timeline-grid {
            flex: 1;
            position: relative;
            display: flex;

            .editor-track {
              --left-border-width: 3px;
              --hor-padding: var(--spacing-medium);
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              /* flex: 1; */
              /* position: relative; */

              .document-focus {
                position: absolute;
                left: 0;
                /* font-size: 0.8rem; */
                white-space: nowrap;
                /* overflow: hidden; */
                border-left: var(--left-border-width) solid;
                /* border-right: 0; */
                /* border-bottom: 0; */
                /* border-top-left-radius: 5px; */
                /* padding: var(--spacing-x-small) var(--hor-padding); */
                border-color: var(--editor-track-document-focus-color-1);
                /* font-weight: bold; */
                z-index: var(--track-z-index);
                transition: border-color 0.2s ease-in-out;

                &:hover,
                &.active {
                  z-index: var(--active-track-z-index);
                  border-color: var(--editor-track-document-focus-color-1-hover);

                  p {
                    font-weight: bold;
                  }
                }

                p {
                  position: absolute;
                  display: inline-block;
                  transform: rotate(-90deg);
                  right: 1px;
                  transform-origin: calc(100% - 8px) center;
                  white-space: nowrap;
                  font-size: 0.7rem;
                  padding: 0.1rem 2px;
                  margin: 0;
                  color: var(--text-weak);
                }
              }
              .document-focus:nth-child(even) {
                border-color: var(--editor-track-document-focus-color-2);

                &:hover,
                &.active {
                  border-color: var(--editor-track-document-focus-color-2-hover);
                }
              }

              .line-focus {
                position: absolute;
                left: var(--left-border-width);
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 var(--hor-padding);
                width: calc(100% - 2 * var(--hor-padding));
                color: var(--editor-track-color);
                z-index: var(--line-focus-z-index);

                p {
                  text-overflow: ellipsis;
                  display: inline-block;
                  transition: color 0.2s ease-in-out;

                  &:hover,
                  &.active {
                    z-index: var(--active-track-z-index);
                    color: var(--editor-track-color-hover);
                    font-weight: bold;
                  }
                }

                &::after {
                  content: '';
                  position: absolute;
                  left: 10px;
                  top: 1rem;
                  /* width: 2px; */
                  /* background: #444444; */
                  bottom: 0;
                  border-left: 2px dashed var(--editor-track-color);
                }
              }
            }

            .ranged-tracks {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              /* left: 0; */
              width: 130px;
              /* position: relative; */

              .track {
                position: absolute;
                /* border: 1px solid var(--ranged-track-border); */
                border-right: 6px solid var(--ranged-track-border);
                /* border-radius: 4px; */
                z-index: var(--track-z-index);
                transition: border-color 0.2s ease-in-out;
                width: 1px;

                &:hover,
                &.active {
                  z-index: var(--active-track-z-index);
                  border-color: var(--ranged-track-border-hover);

                  p {
                    font-weight: bold;
                  }
                  .resize-handle {
                    opacity: 1;
                  }
                }
                &.active {
                  border-color: var(--ranged-track-border-active);
                  cursor: move;
                }
                p {
                  position: absolute;
                  display: inline-block;
                  transform: rotate(-90deg);
                  right: 0;
                  transform-origin: calc(100% - 8px) center;
                  white-space: nowrap;
                  font-size: 0.7rem;
                  padding: 0.1rem 2px;
                  margin: 0;

                  .codicon {
                    font-size: 0.7rem;
                  }

                  /* @container (min-height: 60px) { */
                  /*   padding: 0.5rem; */
                  /*   font-size: 0.9rem; */
                  /*   .track-text .codicon { */
                  /*     font-size: 0.9rem; */
                  /*   } */
                  /* } */
                }
                .resize-handle {
                  opacity: 0;
                  position: absolute;
                  left: 3.5px;
                  bottom: -24px;
                  font-size: 16px;
                  text-shadow: 0 0 2px var(--editor-track-resize-handle-shadow);
                  color: var(--editor-track-resize-handle-color);
                  font-weight: 100;
                  transform: rotate(-90deg);
                  transform-origin: center left;
                  transition: opacity 0.1s ease-out;
                  cursor: s-resize;

                  &:hover {
                    /* transform: rotate(-90deg) translate(-5px, 0); */
                  }
                }
              }
            }

            .markers {
              .marker {
                position: absolute;
                left: 0;
                right: 0;
                /* height: 1px; */
                border-top: 1px solid;
                z-index: var(--marker-z-index);
                transition: border-color 0.2s ease-in-out;

                /* &:hover { */
                /*   z-index: 1; */
                /* } */

                /* &.marker_hidden { */
                /*   display: none; */
                /* } */
                &.marker_active {
                  border-width: 2px;
                }
                &.marker_cursor {
                  border-color: var(--marker-cursor-color);
                  z-index: var(--cursor-marker-z-index);
                  pointer-events: none;
                }
                &.marker_clock {
                  border-color: var(--marker-clock-color);
                }
                &.marker_anchor {
                  border-color: var(--marker-anchor-color);
                }
                &.marker_focus {
                  border-color: var(--marker-focus-color);
                }
                &.marker_end {
                  border-color: var(--marker-end-color);
                  border-width: 3px;

                  /* &:hover { */
                  /*   border-width: var(--marker-end-color-hover); */
                  /*   border-width: 3px; */
                  /*   font-weight: bold; */
                  /* } */
                }
                &.marker_chapter {
                  border-color: var(--marker-chapter-color);
                  border-width: 3px;
                  .content {
                    background: var(--marker-chapter-color);
                  }

                  &:hover {
                    border-color: var(--marker-chapter-color-hover);
                    border-width: 3px;
                    .content {
                      background: var(--marker-chapter-color-hover);
                    }
                  }

                  &.marker_active,
                  &.marker_active:hover {
                    border-color: var(--marker-chapter-color-active);
                    .content {
                      background: var(--marker-chapter-color-active);
                    }
                  }
                }

                &.marker_recording {
                  border-color: var(--marker-end-color);
                }

                /* &.draggable { */
                /*   cursor: move; */
                /* } */

                .time {
                  position: absolute;
                  left: calc(100% + 9px);
                  background: var(--input-background);
                  top: -12px;
                  font-size: 0.9em;
                  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
                  border-radius: 8px;
                  border: calc(var(--border-width) * 1px) solid var(--vscode-input-border, var(--popover-border));
                  text-align: center;
                }
                .content {
                  position: absolute;
                  right: 0;
                  /* background: var(--vscode-sideBar-background); */
                  background: #777;
                  top: 0px;
                  padding: 0 5px 3px 5px;
                  max-width: 80%;
                  display: flex;
                  align-items: center;
                  gap: var(--spacing-small);
                  z-index: -1;
                  transition: background 0.2s ease-in-out;

                  .label {
                    flex: 1;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: right;
                    font-size: 0.9em;
                    font-weight: bold;
                    color: var(--marker-label-color);
                  }

                  .buttons {
                    display: flex;
                    gap: var(--spacing-small);

                    & vscode-button {
                      color: var(--marker-label-color);

                      &::part(control) {
                        padding: var(--spacing-small);
                      }

                      .codicon {
                        width: auto;
                        height: auto;
                        font-size: 0.9em;
                      }
                    }
                  }
                }
              }
            }

            .range-selection {
              position: absolute;
              left: 0;
              right: 0;
              background: var(--range-selection-background);
              z-index: var(--range-selection-z-index);
            }
          }

          #ruler {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* padding-left: 8px; */
            border-left: 1px solid var(--vscode-input-border, var(--popover-border));
            /* overflow: hidden; */
            margin-left: auto;
            margin-right: 0;

            .step {
              display: flex;
              height: 0;
              position: relative;
              overflow: visible;

              .indicator {
                width: 7px;
                border-top: 1px solid var(--vscode-input-border, var(--popover-border));
              }
              .time {
                flex: 1;
                margin-left: 5px;
                margin-top: -7px;
                font-size: 0.9em;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

.recorder-popover-form {
  display: grid;
  gap: var(--spacing-small);

  .row {
    display: flex;
    gap: var(--spacing-small);
  }

  & vscode-button {
    margin: 0 0 0 auto;
    min-width: var(--popover-button-min-width);
  }
}

.popover.chapter-popover {
  width: calc(100vw - 2 * var(--container-padding-hor));
  max-width: 300px;

  form {
    width: 100%;

    /* vscode-text-area::part(label) { */
    /*   color: var(--popover-foreground); */
    /* } */
  }
}
