.session-description {
  /* margin: var(--spacing-large) var(--container-padding) var(--spacing-medium) var(--container-padding); */
  border: calc(var(--border-width) * 1px) solid var(--vscode-input-border, var(--popover-border));
  padding: var(--spacing-medium);
  background: var(--input-background);
  border-radius: calc(var(--corner-radius) * 1px);
  overflow: hidden;
  /* border-radius: var(--card-border-radius); */
  padding-top: calc(var(--spacing-medium) - var(--button-icon-padding));

  > .header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: var(--spacing-medium);
    align-items: center;
    /* opacity: 0.6; */

    > .item {
      display: flex;
      align-items: center;
      gap: var(--spacing-x-small);

      &.timestamp {
        font-weight: bold;
      }
    }
  }
  > .body {
    margin-top: var(--spacing-small);
  }
}
