.session-listings {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-medium);

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  .session-listing {
    /* margin-top: var(--spacing-medium); */
    padding: var(--spacing-medium) var(--spacing-large);
    cursor: pointer;

    /* display: grid; */
    /* grid-template-rows: subgrid; */
    display: flex;
    flex-direction: column;

    &:hover {
      background: var(--vscode-list-hoverBackground);

      .caption .actions {
        visibility: visible;
      }
    }

    /* + .session-listing { */
    /*   margin-top: var(--spacing-medium); */
    /* } */

    .cover-container {
      aspect-ratio: 16 / 9;
      /* margin: 0 var(--spacing-large); */
      border-radius: 5px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;

      /* .background { */
      /*   position: absolute; */
      /*   top: 0; */
      /*   left: 0; */
      /*   right: 0; */
      /*   bottom: 0; */
      /*   background-size: cover; */
      /*   background-position: center; */
      /*   filter: blur(10px); */
      /* } */

      & img {
        object-fit: cover;
        z-index: 1;
        height: 100%;
        width: 100%;
      }

      & .duration {
        position: absolute;
        bottom: var(--spacing-small);
        right: var(--spacing-small);
        padding: var(--spacing-small);
        color: white;
        border-radius: 5px;
        background: #000000aa;
        z-index: 1;
      }

      & .progress {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background: #444;

        & .filled {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          background: #cc0000;
        }
      }
    }

    .caption {
      flex: 1;
      position: relative;
      padding-top: var(--spacing-large);
      /* padding-bottom: var(--spacing-medium); */

      .actions {
        padding: var(--spacing-small) 0 0 var(--spacing-large);
        background: var(--vscode-list-hoverBackground);
        position: absolute;
        /* top: 0; */
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
        /* padding: 0 var(--spacing-small); */
        visibility: hidden;
      }

      .title {
        font-weight: bold;
        font-size: 1em;
      }

      .cover + .title {
        margin-top: var(--spacing-small);
      }

      .description {
        opacity: 1;
      }

      .title + .description {
        margin-top: var(--spacing-small);
      }

      .footer {
        margin-top: var(--spacing-small);
        display: flex;
        align-items: center;
        font-weight: bold;
        opacity: 0.6;

        > .footer-item {
          font-size: 0.9em;
          /* white-space: nowrap; */

          &:first-child {
            /* min-width: 80px; */
            flex: 1;
          }

          & + .footer-item {
            margin-left: var(--spacing-medium);
          }

          &.badge {
            display: flex;
            align-items: center;
            font-size: 0.9em;

            .codicon {
              font-size: 0.9rem;
            }
            .codicon-eye {
              margin-bottom: -2px;
            }
            .codicon-heart,
            .codicon-heart-filled {
              margin-bottom: -2px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.session-head {
  /* margin-left: -7px; */

  .avatar {
    margin-bottom: -2px;
  }

  > .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: bold;
      /* font-size: 1.1em; */
    }

    .description {
      opacity: 1;
    }

    .title + .description {
      margin-top: var(--spacing-small);
    }

    .footer {
      margin-top: var(--spacing-small);
      display: flex;
      align-items: center;
      font-weight: bold;
      color: var(--text-weak);

      .footer-item {
        /* white-space: nowrap; */

        &:first-child {
          /* min-width: 80px; */
          flex: 1;
        }

        & + .footer-item {
          margin-left: var(--spacing-medium);
        }

        &.badge {
          display: flex;
          align-items: center;
          font-size: 0.9em;

          .codicon {
            font-size: 0.9rem;
          }
          .codicon-eye {
            margin-bottom: -2px;
          }
          .codicon-heart,
          .codicon-heart-filled {
            margin-bottom: -2px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
