.welcome-ask-early-access-email {
  .main-section .section-body {
    padding: var(--container-padding-ver-small) var(--container-padding-hor) 0 var(--container-padding-hor);
  }

  .heading-subsection {
    text-align: center;
  }
  .fields-subsection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    & vscode-text-field {
      margin-top: 0.25rem;
      &::part(label),
      &::part(control) {
        text-align: center;
      }

      &::part(label) {
        font-size: 1.2em;
        margin-bottom: var(--spacing-medium);
      }
      &::part(control) {
      }
    }
    p {
      margin: 0.25rem 0 0 0;
    }
  }

  .buttons-subsection {
    margin-top: 1rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    display: flex;
    /* flex-direction: column; */

    & vscode-button {
      flex: 1 0 0;
      margin: 0 0.25rem;
    }
  }

  .more-info-subsection {
    margin-top: 4rem;
    text-align: center;
  }
}

.welcome-sessions {
  .search-header {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    background: var(--vscode-sideBar-background);
    padding-bottom: 0.5rem;
    z-index: 2;
    /* Set 1px top padding so that the focus outline of the search input doesn't overflow. */
    padding: 1px var(--container-padding-hor) 0.5rem var(--container-padding-hor);
    transition: 0.2s box-shadow ease;

    &:not(.at-top) {
      box-shadow: 0 1px 10px 1px #0000002e;
    }

    & vscode-text-field {
      flex: 1;
    }

    & vscode-button {
      margin-left: var(--spacing-x-small);
    }
  }

  .signin {
    margin-top: 0;
    padding: 0 var(--container-padding-hor);

    p {
      margin: 0;
    }
    /* display: flex; */
    /* flex-direction: column; */

    /* > * + * { */
    /*   margin-left: 0.25rem; */
    /* } */

    /* & vscode-button::part(content) { */
    /*   white-space: nowrap; */
    /* } */

    /* .fields { */
    /*   display: flex; */
    /*   margin: 0 -0.25rem; */

    /*   & > * { */
    /*     flex: 1 0 0; */
    /*     margin: 0 0.25rem; */
    /*   } */
    /* } */
    /* .buttons { */
    /*   display: flex; */
    /*   flex-direction: column; */
    /*   /\* margin: 0 -0.25rem; *\/ */

    /*   & > * { */
    /*     flex: 1 0 0; */
    /*     margin-top: 0.25rem; */
    /*     /\* margin: 0 0.25rem; *\/ */
    /*   } */
    /* } */
  }
  .sessions-section {
    margin-top: var(--spacing-medium);
    /* .session-item { */
    /*   flex-direction: row; */
    /*   .card-content { */
    /*     display: flex; */
    /*     flex-direction: column; */
    /*   } */
    /* } */
  }
}
