.with-avatar {
  display: flex;

  &.small > .avatar img {
    width: 30px;
    height: 30px;
  }

  > .avatar {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    & img {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      object-fit: cover;
      object-position: center top;
      margin-right: var(--spacing-medium);
      border-radius: 50%;
      border: 1px solid var(--vscode-input-border, var(--popover-border));

      @media (max-width: 200px) {
        display: none;
      }
      @media (max-width: 250px) {
        width: 30px;
        height: 30px;
        margin-right: var(--spacing-medium);
      }
    }
  }

  > .body {
    flex: 1;
  }
}
