.with-avatar {
  display: flex;

  &.small > .avatar img {
    width: 30px;
    height: 30px;
  }

  gap: var(--spacing-medium);
  > .avatar {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    /* background-size: contain; */
    /* background-position: left center; */
    /* background-repeat: no-repeat; */

    & img {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      object-fit: cover;
      object-position: center top;
      border-radius: 50%;
      border: 1px solid var(--vscode-input-border, var(--popover-border));

      @media (max-width: 200px) {
        display: none;
      }
      @media (max-width: 250px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  > .body {
    flex: 1;
  }
}
