:root {
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
}

body {
  background-color: transparent;
}

#app {
  margin: 0;
}

ul.unstyled {
  list-style: none;
  padding: 0;

  & li {
    /* margin: 0; */
  }
}

.codicon.m-right {
  margin-right: var(--spacing-medium);
}

.codicon.va-top {
  vertical-align: top;
}

.welcome {
  .section + .section {
    margin-top: var(--spacing-large);
  }

  .section.recent {
    & li vscode-link {
      margin-right: var(--spacing-large);
    }
  }
}

.recorder {
  .add-folder-msg {
    margin-bottom: var(--spacing-large);
    font-style: italic;
  }

  .rec-icon {
    color: #ee0000;
    vertical-align: middle;
  }

  & vscode-text-field {
    margin-bottom: var(--spacing-medium);
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  /* margin-bottom: var(--spacing-large); */

  .separator {
    margin: 0 var(--spacing-medium);
    color: #a9a9a9;
    font-weight: bold;
  }
  & h2 {
    white-space: nowrap;
    /* margin: 0; */
  }
}

.screen {
  .buttons {
    margin-top: var(--spacing-large);
    display: flex;
    justify-content: flex-start;

    & vscode-button {
      flex: 1;
      max-width: 200px;
    }
    & vscode-button + vscode-button {
      margin-left: var(--spacing-small);
    }
  }
}
